h2 {
    font-family: 'Courgette';
    font-style: italic;
}

header {
    background-color: black;
    background-image: ;
    background: blanchedalmond ;
}

nav {
    color: black;
    font-family: 'Oswald-ExtraLight';
}