h2 {
    font-family: 'Courgette';
    font-style: italic;
}

#droite h5, footer h4, footer h6 {
    font-family: 'Courgette';
}

nav, footer li, footer li {
    font-family: 'Oswald-ExtraLight';
}

main > h3, #recherche, button,
footer input[type="text"], footer input[type="submit"] {
    font-family: 'Oswald-Regular';
}

header, footer,
li.nav-item a, li.nav-item, a:hover, li.nav-item:focus,
footer li a, footer li a:hover, footer li a:focus,
footer input[type="submit"]
{
    color: white;
}

main, #share li, #droite li {
    background-color: white;
}

#share li, #droite li,
#droite h5, #droite ul > li {
    color: black;
}

footer, footer input[type="submit"] {
    background-color: black;
}

#header {
    background: rgba(0, 0, 0, 0.8)
}

header {
    background: url('../img/header.jpg');
    background-position-y: 62%;
    background-size: cover;
}

#navigation {
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
}

#title img {
    width:5em;
}

main > h3 {
    margin: 2em auto;
    text-align: center;
}

#share ul, #droite ul {
    padding-left: 0 !important;
}

#share li, #droite li {
    height: 2em;
    width: 2em;
    display: inline-block;
    padding: 0.2em 0.5em;
    list-style: none;
}

.row > div > section {
    margin-bottom: 1em;
}

.row > div > section > div:first-child > a > img {
    width: 20rem;
}

.row > div > section > div:nth-child(2) {
    margin-left: 2rem;
}

#recherche {
    width:100%; text-align: left;
}

button { 
    width: 100%;
    padding: 0.5em auto;
}

footer {
    padding: 2em 5em;
}

footer input[type="text"] {
    height: 2em !important;
}

footer input[type="submit"] {
    padding: 0.2em 1em 0.5em 1em;
    border-color: white;
    height: 2em !important;
    vertical-align: middle !important;
}

#share ul, #droite ul {
    padding-left: 0 !important;
}

#share li, #droite li {
    height: 2em;
    width: 2em;
    display: inline-block;
    padding: 0.2em 0.5em;
    list-style: none;
}